[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
django-silk = "*"
django-debug-toolbar = "*"
flower = "*"

[packages]
djangorestframework = "*"
Django = "*"
django-split-settings = "*"
django-environ = "*"
psycopg2-binary = "*"
djangorestframework-gis = "*"
drf-yasg = "*"
dj-rest-auth = "*"
django-allauth = "*"
geocoder = "*"
geopy = "*"
celery = "*"
redis = "*"
django-redis = "*"

[requires]
python_version = "3.9"
